body, html {
    margin: 0;
    max-width: 100%;

    font-family: Helvetica, Arial, sans-serif;
    text-align: center;

    color: rgb(0, 0, 0);
    background-color: #FEFCF6;
}

/* Title */

#Title h1 {
    font-size: 7.5vw;
    font-weight: 400;

    text-align: center;
    line-height: 8vw;
    word-spacing: 0px;
    letter-spacing: -2px;

    max-width: 100%;

    margin-top: 0;
    margin-bottom: 0;

    text-transform: uppercase;
}

#Title h2 {
    display: flex;           /* Enables Flexbox */
    justify-content: space-between; /* Distributes space between and around content items */
    padding: 0 20px;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.2em;      /* Adjusted for better alignment */
    word-spacing: 0px;
    letter-spacing: 0px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 0%;
    text-transform: uppercase;
}

        #Title h2 span {
            font-size: 1.5vw; /* Ensures uniform font size across spans */
        }


#Title h3 {
    display: flex;           /* Enables Flexbox */
    justify-content: space-between; /* Distributes space between and around content items */
    padding: 0 20px;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.2em;      /* Adjusted for better alignment */
    word-spacing: 0px;
    letter-spacing: 0px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

        #Title h3 span {
            font-size: 1vw; /* Ensures uniform font size across spans */
        }

#Title h4 {
    font-size: 1.5vw;
    font-weight: 300;

    line-height: 1.2em; 
    word-spacing: 0px;
    letter-spacing: 0px;

    max-width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0 30px;
}

/* MAP */

#subtitle h1 {
    font-size: 2.3vw;
    font-weight: 400;

    text-align: left;
    line-height: 3vw;
    word-spacing: 0px;
    letter-spacing: -1px;

    max-width: 100%;

    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px;

    text-transform: uppercase;
}

#subtitle h2 {
    font-size: 2vw;
    font-weight: 400;

    text-align: right;
    line-height: 3vw;
    word-spacing: 0px;
    letter-spacing: 0px;

    max-width: 100%;

    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px;

    text-transform: uppercase;
}


#Map {
    display: flex;
    flex-direction: row; /* Ensures the layout is horizontal */
    align-items: stretch; /* Stretches the children to fill the height */
    width: 100%;
    margin-top: 0px;
}

/* 지도아래 */

.map-container {
    display: flex;
    flex: 1; /* Assigns 50% of the space to the map container */
}

/* 지도 */

.floor-map {
    width: 100%; /* Makes the map take full space inside its container */
    display: flex;
    align-items: center;
    justify-content: center;
}

.resizable-map {
    width: 100%; /* Ensures the image fills the container */
    max-width: 50%;
    height: auto;
    max-height: 100%; 

    padding: 3% 20% 3% 20%;

    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
}

.section-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px;
    width: 100%;
    margin-right: 20px;
}

.btn {
    font-size: 2vw;
    font-weight: 500;
    width: 100%;
    background-color: #888; /* Default background color */
    color: #000000; /* Text color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
}

.btn a {
    color: inherit; /* Ensures link color is the same as the button */
    text-decoration: none; /* Removes underline */
    display: block; /* Makes the link fill the button */
    line-height: inherit; /* Aligns the line height with the button's text */
    align-items: center;
}

    .architecture { background-color: #CDA5E5; }
    .graphic { background-color: #9EE6A6; }
    .commercial { background-color: #F69AB1; }
    .fashion { background-color: #94F2E4; }
    .film { background-color: #F9BC45; }
    .organizations { background-color: #F2F294; }

    .architecture:hover { background-color: #493952; }
    .graphic:hover { background-color: #3d5a40; }
    .commercial:hover { background-color: #6c424d; }
    .fashion:hover { background-color: #365b55; }
    .film:hover { background-color: #5f4718; }
    .organizations:hover { background-color: #7b7b4a; }
    
/*선*/

hr {
    height: 0.5px;              /* Set the thickness of the hr */
    background-color: #333;   /* 선의 색상 설정 */
}

.thin-hr {
    border: none;             /* 기본 테두리 제거 */
    height: 0.3px;              /* 선의 두께 설정 */
    background-color: #333;   /* 선의 색상 설정 */
}


footer {
    font-size: 1vw;
    font-weight: 100;
    text-align: center;
    color: rgba(120, 120, 120, 0.744);
    margin-top: 5%;
    margin-bottom: 10%;
    padding-bottom: 10%;
    }
    
/* Existing responsive styles */
@media screen and (max-width: 768px) {
    .map-container {
        flex-direction: column;
    }

    .section-buttons {
        grid-template-columns: repeat(1, 1fr); 
        margin-top: 5%;
        margin-left: 5%;
    }

    .btn {
        margin-top: 3px;
        width: 90%;
        height: 40px;
        font-size: 2.3vw;
    }


}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Tablet styles */
}
